#+TITLE: EMPTY-TITLE
#+AUTHOR: {{ USER }}@{{ HOSTNAME }}
#+OPTIONS: ^:nil

* Test data intro
Bla bla
* Configuration
Config bla bla

* Test group descriptions
** group1
   - bla bla
** group2
   - bla bla

